@import 'colors.scss';

.hero-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;

    @media (max-width: 750px){
        justify-content: center;
    }

    >.lhs{
        margin-left: 8%;
        width: 50%;
        @media (max-width: 750px){
            width: 80%;
        }

        >p{
            color: $blue;
            font-weight: 500;
        }

        >h1{
            font-size: 3.8rem;
            margin-bottom: 2rem;

            @media (max-width: 900px) {
                font-size: 2.5rem;
            }

            >span{
                color: $blue;
            }
        }
    }

    >.rhs{
        margin-right: 8%;
        display: flex;
        position: relative;
        bottom: 2rem;

        @media (max-width: 750px) {
            display: none;
        }
    }
}