@import "colors.scss";

@import "colors.scss";

.home > .hero_section {
    // Hero Section
    display: flex;
    margin-top: 1.5rem;
    height: 100vh;

    @media (max-width: 990px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .book_section {
        display: flex;
        width: 68%;
        margin-left: 7rem;
        margin-top: 2rem;
        border-radius: 15px;
        height: 78%;
        background-color: $blue;
    
        // Adjustments for screens below 990px
        @media (max-width: 990px) {
            width: 90%; // Take 100% width
            margin-left: 0; // Remove left margin
            justify-content: center;
            align-items: center;
            margin-top: 27rem;
        }
    
        > .left_side {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 3rem;
            padding-bottom: 4rem;
            padding-top: 1rem;
    
            @media (max-width: 990px) {
                display: none; // Hide left side on screens below 990px
            }
    
            > img {
                width: 55%;
            }
    
            > h1 {
                font-size: 3.5rem;
                color: white;
            }
        }
    
        > .right_side {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2rem;

            @media (max-width: 990px) {
                width: 100%;
            }
    
            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                padding: 2rem;
                background-color: $boxBackground;
                border-radius: 10px;

                > h3 {
                    color: white;
                }

                > ul {
                    width: 90%;

                    > li {
                        list-style: none;
                        width: 100%;

                        > div {
                            background-color: $boxBackground;
                        }
                    }
                }

                > button {
                    background-color: $green;
                    width: 80%;
                    height: 3rem;
                    border: none;
                    border-radius: 12px;
                    color: white;
                    margin-left: 0.9rem;
                }
            }
        }
    }
}

.dropdown-toggle {
    width: 100%;
    background-color: $lightBlue;
    border: none;

    &:hover {
        background-color: $lightBlue;
        cursor: pointer;
    }
}

.dropdown {
    background-color: $boxBackground;
}

.dropdown-menu {
    width: 100%;
}

.inputDate[type='date'] {
    background-color: $lightBlue;
    border: none;
    margin-left: 0.5rem;
    width: 95%;
    display: block;
    border-radius: 5px;
    color: white;

    @media (max-width: 990px) {
        width: 97%;
    }
}

.hero_section > .background_photo {
    z-index: -2;
    position: absolute;
    right: 7rem;
    top: 13%;

    > img {
        border-radius: 15px;
        height: 40rem;
        object-fit: contain;
    }
}
