@import "colors.scss";

.home>div{

    // Hero Section
    border: 2px solid black;
    display: flex;
    margin-top: 1.5rem;
    height: 100vh;

    .book_section{
        display: flex;
        width: 65%;
        border: 2px solid black;
        margin-left: 7rem;
        margin-top: 2rem;
        border-radius: 15px;
        height: 78%;

        >.left_side{
            border: 2px solid black;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 3rem;
            padding-bottom: 4rem;
            padding-top: 1rem;

            >img{
                width: 55%;
            }

            >h1{
                font-size: 3.5rem;
            }
        }

        >.right_side{
            width: 60%;

            >div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            }
        }
    }
}