@import 'colors.scss';

.active-link {
    color: $green;
}

nav>div>div>button{
        color: black;
        font-weight: 400;
        font-size: larger;
        padding: 6px 25px;
        background-color: white;
        border: solid $green;
        border-radius: 15px;
}


nav>div>div>div>ul>li>a{
    .active-link {
        color: $green;
    }
}

.navbar-toggler{
    box-shadow: none;
    outline: none;
}