@import 'colors.scss';

.active-link {
    color: $green;
}

nav>div>div>button{
        color: black;
        font-weight: 400;
        font-size: larger;
        padding: 6px 25px;
        background-color: white;
        border: solid $green;
        border-radius: 15px;
}


.navbar-toggler{
    box-shadow: none;
    outline: none;
}


@media (min-width: 470px) {
    nav>div>div>div>ul>button{
        display: none;
    }
}
@media (max-width: 470px) {
    nav>div>div>div>ul>button{
        display: block;
        color: black;
        font-weight: 400;
        font-size: larger;
        padding: 6px 25px;
        background-color: white;
        border: solid $green;
        border-radius: 15px;
    }

    nav>div>div>button{
        display: none;
    }
}